.whole{
    position: relative;
    background-image: url(../../../assests/website2.jpg);
    /* backdrop-filter: blur(200px); */
    background-blend-mode:multiply ;
    background-size: cover;
    /* filter: blur(2px); */
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgb(0,0,0,0.6);
    display: flex;
    /* align-items: center;
    justify-content: center; */
    
}
.content{
    flex: 0.6;
    /* display: flex;
    flex-direction: column;
    position:absolute; */
    /* top:315px;
    right:100px; */
    margin-top: 215px;
    /* height:200px;
    width:650px; */
    z-index: 100;
    
    text-align: center !important;
    justify-content: center !important;

}
.describe{
    /* position:absolute;
    top:400px;
    right:100px; */
    color:#2fcde9;
    font-size:1.25em;
    line-height: 75px;
    text-align: center;
    /* height:200px;
    width:600px; */
    background-color:transparent;
    /* border: 1px solid black; */
    /* outline-style: solid;
    outline-color:aqua;
    outline-width: 4px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; */
      
    
}
.image{
    /* position: absolute;
    top:250px;
    left:200px;  */
    
    flex:0.4;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
   
    /* top:250px; */

    
    
       
}
.image > img{
    height:325px ;
    width:300px;
    border-radius: 300px;
    filter:brightness(10px)
}
.resume{


    font-size: 20px;
    padding: 15px 8px;
    border:2px solid white;
    border-radius: 20px;
    color:white;

    background-color:transparent;
    cursor:pointer;
    transition: transform 100ms ease-in-out;
}
.resume:hover{
    background-color:#2fcde9;
    color: black;
    font-weight: bold;
    transform: scale(1.01);
}