.header{
    display: flex;
    color:white;
    background-color: black;
    top:0px;
    position:sticky;
    z-index:2000
}
.header_left{
    flex:0.4;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}
.header_right{
    display: flex;
    flex:0.6;
    justify-content:space-evenly;
    align-items: center;
}
.header_right > a >h4{
    cursor:pointer;
    transition:transform 200ms ease-in-out
}
.header_left > h1>span{
    color:#2fcde9
}
.header_right > a > h4:hover{
    background-color:#2fcde9;
    border-radius: 5px;
    padding: 10px;
    transform : scale(1.2);
    
}